.DS_Store
node_modules
pkg/
/dist/
.yarn/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
yarn.lock
.yarnrc.yml
package-lock.json

!.vscode/*.code-snippets

# script
/vuexy-scripts

# Docs
/docs/.temp
